body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.titulo {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.navegacion{
    text-align: center;
    margin: 2px auto;
    background:#005883;
}
.navegacion ul{
list-style: none;
}
.menu >li {
   position: relative;
    display: inline-block;
}
.menu >li >a{
    display: block;
    padding: 10px 95px;
    color: white;
    text-decoration: none;
}

.menu li a:hover {
    box-shadow: 0px 0px 0px;
    background-color: wheat;
    padding-top: 15px 20px;
    transition: 4s;
}
.desple{
    text-align: justify;
    position: absolute;
    background: #005883;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5 s;
}
.desple li a{
    display: block;
    padding: 10px;
    color: white;
    font-family: 'Franklin Gothic book', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
}
.menu li:hover .desple{
    visibility: visible;
    opacity: 1;
}

.inicio{
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: justify;
}
.inicio ul, li {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: justify;

}
.html5{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #F47920; 
}
.tex{
    margin: 2%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: justify;
}
.imag{
    height: 15% ;
    width: 10%;
    float: right;
}
.twitt{
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #005883;
}
.en{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #005883; 
}

.tabla02 {
    background-color: #F0B429;
    margin: auto;
    padding: 5px;
    text-align: justify;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.tabla02 th, td {
        
        table-layout: auto;
        border: 1px solid  #005883;
        border-collapse: collapse;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.etiq{
    text-align: center;
    background-color: #005883;
}
.imageti{
    display: block;
margin-left: auto;
margin-right: auto;
}
.boton1{
    text-align: right;
}
.atributo{
    text-align: center;
    background-color: #005883;
}
.imagatri{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.boton2{
    text-align: right;
}
.boton3{
    text-align: right;
}
.boton4{
    text-align: right;
}
.boton5{
    text-align: right;
}
.boton6{
    text-align: right;
}
.video1{
    text-align: center; 
}
.autor{
    text-align: center;
}

.enlaces{
    color: cadetblue;
    font-size: 10px;
}
.autoe{
    text-align: center;

}
.pdf{
    
    text-align: center;
}
.foto{
    text-align: center;
    height: 12%;
    width: 12%;
    float: left;
}
